/* ホバーすると左から色 */
.link1{
    transition: 0.5s;
    display: block;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    border: solid 1px black;
    margin: 20px auto;
    overflow: hidden;
}
.link1::after{
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: orange;
    z-index: -1;
}
.link1:hover::after{
    transition: 0.5s;
    width: 100%;
}
/* ホバーすると下から色 */
.link2{
    transition: 0.5s;
    display: block;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    border: solid 1px black;
    margin: 20px auto;
    overflow: hidden;
}
.link2::after{
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background-color: orange;
    z-index: -1;
}
.link2:hover::after{
    transition: 0.5s;
    height: 100%;
}
/* ホバーすると真ん中から色 */
.link3{
    transition: 0.5s;
    display: block;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    border: solid 1px black;
    margin: 20px auto;
    overflow: hidden;
}
.link3::after{
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: orange;
    z-index: -1;
}
.link3:hover::after{
    transition: 0.5s;
    height: 500px;
    width: 500px;
}
/* ホバーするとふんわり色 */
.link4{
    transition: 0.5s;
    display: block;
    width: 300px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    border: solid 1px black;
    margin: 20px auto;
    overflow: hidden;
}
.link4::after{
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
    background-color: orange;
    z-index: -1;
}
.link4:hover::after{
    transition: 0.5s;
    opacity: 1;
}